.body{
    flex: 0.9;
    height: 100vh;
    background: linear-gradient(rgb(91, 87,115), rgb(0,0,0,1));
    padding:20px;
    color: white;
    overflow-y: overlay;
 
}
.body::-webkit-scrollbar{
    display: none;;
}
.body_info{
    display: flex;
    padding: 10px;
    align-items: flex-end;
}

.body_info>img{
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgb(0,0,0,.5);
}

.body_info_text{
   flex: 1;

   
}
.body_info_text>h2{
  font-size: 60px;
  margin-bottom: 10px;
}

.body_info_text>p{
    font-size: 14px;
}

.body-info_footer_text{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.body-info_footer_text>h4{
    margin-left: 10px;
    font-size: 14px;;
}

.body_icons{
    display: flex;
    align-items: center;
}

.body_song_icon{
    margin-right: 10px;
}

.body_song_icon_big_button{
    margin-right: 10px;
    font-size: 80px !important;
    margin-left:50px;
    margin-bottom: 20px;
    margin-top: 20px;
    color:rgb(31, 232, 31)
}

.body_songs{
    margin-bottom: 100px;
}