.footer {
    /* position: fixed;
    bottom: 0;
    height: 50px;
    color: white;
    width: 100%;
    padding: 20px;
    background-color: #282828;
    display: flex; */
    display: none;

}

.footerForMP3 {
    position: fixed;
    bottom: 0;
    height: 50px;
    color: white;
    width: 100%;
    padding: 20px;
    background-color: black;
    display: flex;

}

.footer_left {
    flex: .4;
    display: flex;
}

.footer_center {
    flex: .4
}

.footer_right {
    flex: .2
}

.audio_player {
    min-width: 500px !important
}

.footer_left>img {
    height: 50px;
}

.album_info {
    margin-left: 20px
}

.album_info>h1 {
    font-size: 14px;
}

.album_info>p {
    font-size: 12px;
    margin-top: 3px;
    color: gray;
}



@media (max-width: 468px) {
    .footer {
        position: fixed;
        bottom: 0;
        color: white;
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #282828;
        height: 30px;;
    
    }
    .footerForMP3 {
        bottom: 80px;
        height: 20px;
        color: white;
        width: 100%;

    }
 
    .footer_left{
        flex: 0;
        display: none;
    }


    .footer_center {
        flex: 1
    }

    .audio_player {
        min-width: 200px !important;
      
    }

    .react-audio-player.audio_player{
        height: 40px !important;
    }
   
}