.login{
    display: grid;
    place-items: center;
    height: 100vh;
}
.spotify__logo{
    object-fit: contain;
    height: 100px;
  }

  .login>a{
    background-color: #1db954;
    padding: 20px;
    border-radius: 100px;
    color:white;
    font-weight: 800;
    text-decoration: none;
  }