.songrow{
    display: flex;
    align-items: center;
    z-index: 100;
    color:white;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    
}

.selected_song{
    background-color: black;
}

.songrow>img{
    margin-left:20px;
    height: 40px;
}

.songrow_info{
    margin-left:20px;
}

.songrow_info>h1{
  font-size: 12px;
}

.songrow_info>p{
    font-size: 12px;
    margin-top:3px;
    color:gray
  }